/*form{
	display: flex;
}
form div{
	margin-right: 20px;
}
label{
	color: black;
	font-size: 20px;
}
input{
	height: 30px;
}
select{
	height: 30px;
	width: 140px;
}
select:focus-visible{
	outline: none;
}
.DBdataTable{
	margin-top: 30px;
	margin-bottom: 30px;
}
.tableHeader{
	color: black;
	font-size: 18px;
	font-weight: bold;
}
.DBdata {
	padding-right: 30px;
}
.href{
	width: 30px;
	height: 30px;
}
.href a{
	color: black;
}
.href a:visited{
	color: black;
}
.current{
	color: red;
}*/